.about {
  margin-bottom: 150px;
}
.about__text {
  margin: 30px 0 30px 0;
  max-width: 1048px;
   font-size: 45px;
  line-height: 61px;
  letter-spacing: -1.35px;
}
.about__btn {
  display: inline-block;
  padding: 20px 40px;
  font-size: 20px;
  line-height: normal;
  letter-spacing: -0.6px;
  color: #fff;
  background: #ad1818;
  text-decoration: none;
  border-radius: 5px;
}
@media (max-width: 961px) {
  .about {
    margin-bottom: 120px;
  }
   .about__text {
    max-width: 690px;
      font-size: 35px;
    line-height: 48px;
    letter-spacing: -1.05px;
  }
}
@media (max-width: 541px) {
  .about {
    margin-bottom: 80px;
  }
  .about__text {
    margin-top: 20px;
   width: 100%;
       font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.66px;
  }
    .about__btn {
    padding: 14.5px 27px 14.5px 27px;
    font-size: 16px;
    letter-spacing: -0.48px;
  }
}
