.contacts {
  margin-bottom: 150px;
}
.contacts__inner {
  max-width: 989px;
}
.contacts-title {
  
}
/* .row-contacts {
   display: flex;
  justify-content: space-between;
    position: relative;
  }
.col-contact {
  width: calc(50% - 52px); 
} */
.contacts-wrapper {
  padding-top: 74px;
  display: flex;
  justify-content: space-between;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -1.8px;

 
}
/* .content {
 width: 100%;
 font-size: 60px;

  line-height: 60px;
  letter-spacing: -1.8px;
} */
.contact {
  position: relative;
  height: 70px;
  
}
.contact::before {
  content: "";
  display: block;
  position: absolute;
  top: -50px;
  width: 24px;
  height: 24px;
   background-size: cover;
   background-image: url(icon_phone.png);
}

.contact-mailto::before { 
  background-image: url(mail-outline.png);

}
.contact-mailto {
  align-content: flex-start;
}

.phone {
  text-decoration: none;
  color: #121212;
 }
.mailto {

  opacity: 0.5;
  text-decoration: none;
  color: #121212;
  border-bottom: 2px solid #121212;
}

@media (max-width: 1199px) {
  .contacts {
   margin-bottom: 80px;
  }
  .contacts-wrapper {
    padding-top: 74px;
       font-size: 45px;
    line-height: 60px;
    letter-spacing: -1.35px;
  }
  /* .col-contact {
    width: calc(50% - 57px);
   }
   .content {
    font-size: 45px;
   line-height: 60px;
   letter-spacing: -1.35px;
  } */
}

@media (max-width: 767px) {
  .contacts {
    margin-bottom: 80px;
  }
  .contacts-wrapper {
    padding-top: 58px;
    flex-direction: column;
    row-gap: 58px;
       font-size: 35px;
    line-height: 46px;
    letter-spacing: -1.05px;
  }
  .contact-phone::before {
    width: 18px;
    height: 18px;
    top: -26px;
  }
  
  /* .row-contacts { {
       flex-direction: column;
       row-gap: 58px;
  }
  .col-contact {
      width: 100%;
  } */
  .content {
    font-size: 35px;
   line-height: 47px;
   letter-spacing: -1.05px;
   }
}




