.contacts {
  margin-bottom: 147px;
}
.contacts__inner {
  max-width: 989px;
 
}


.contacts__wrapper {
  padding-top: 66px;
  display: flex;
  justify-content: space-between;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -1.8px;
}
.contact__phone,
.contact__email {
  position: relative;
    height: 70px;
  
}
.contact__phone::before,
.contact__email::before {
  content: "";
  position: absolute;
  top: -41px;
  left: -5px;
  display: block;
   width: 24px;
  height: 24px;
   background-size: cover;
   background-repeat: no-repeat;
   
}
.contact__phone::before {
  background-image: url(icon_phone.png);
}
.contact__email::before { 
  background-image: url(mail.png);
  opacity: 1;
}
.contact__phone {
  display: block;
  padding-top: 10px;
  text-decoration: none;
  color: #121212;
  letter-spacing: -0.9px;
  
 }
.contact__email {
  display: inline-block;
  opacity: 0.5;
  text-decoration: none;
  color: #121212;
  border-bottom: 2px solid #121212 ;
}

@media (max-width: 1199px) {
  .contacts {
   margin-bottom: 130px;
  }
  .contacts__inner {
    max-width: 777px;   
  }
  .contacts__wrapper {
    padding-top: 64px;
       font-size: 45px;
    line-height: 60px;
    letter-spacing: -1.35px;
  }
  .contact__phone,
.contact__email {
 height: 60px;
  
}
}

@media (max-width: 767px) {
  .contacts {
    margin-bottom: 64px;
  }
  .contacts__wrapper {
    padding-top: 44px;
    flex-direction: column;
    row-gap: 58px;
       font-size: 35px;
    line-height: 46px;
    letter-spacing: -1.05px;
  }
  .contact__phone::before {
    width: 18px;
    height: 18px;
    top: -26px;
  }
  
    .content {
    font-size: 35px;
   line-height: 47px;
   letter-spacing: -1.05px;
   }
}




