.gallery {
  margin-bottom: 150px;
}

.gallery__inner {
  position: relative;
}
.gallery__title {
  position: absolute;
  top: 64px;
  /* width: 100%; */
  z-index: 100;
  font-size: 22px;
  letter-spacing: -0.66px;
  line-height: 30px;
  color: white;
  text-transform: uppercase;
}

.gallery__controls {
  position: absolute;
  bottom: 162px;
  z-index: 100;
  display: flex;
  gap: 14px;
}
.gallery__control-prev,
.gallery__control-next {
  width: 40px;
  height: 40px;
  padding: 0px;
  border: none;
  background: none;
  background-repeat: no-repeat;
  background-position: center;
}
.gallery__control-prev {
  left: 125px;
  background-image: url(Vector.png);
  transform: rotate(180deg);
}

.gallery__control-next {
  left: 180px;
  background-image: url(Vector.png);
  opacity: 0.5;
}
.galley__slides {
  height: 717px;
  position: relative;
}
.gallery__slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}
.gallery__slide_active {
  opacity: 1;
}
.gallery__image {
  height: 100%;
  width: 100%;
  position: relative;
  object-fit: cover;
  
}

.gallery__image-text {
  position: absolute;
  bottom: 60px;
  max-width: 443px;
  color: white;
  text-transform: none;
}
.pharos {
  bottom: 100px;
}

@media (max-width: 1190px) {
  .gallery {
    margin-bottom: 120px;
  }
  .gallery__title {
    top: 80px;
    left: 50px;
    font-size: 20px;
    letter-spacing: -0.6px;
    line-height: 27px;
  }
  .gallery__controls {
    left: 41px;
    bottom: 152px;
    gap: 14px;
  }
  .galley__slides {
    height: 536px;
  }
  .gallery__image-text {
    bottom: 80px;
    left: 50px;
    max-width: 377px;
    font-size: 25px;
    letter-spacing: -0.75px;
    line-height: 34px;
  }
  .pharos {
    bottom: 111px;
  }
}

@media (max-width: 767px) {
  .gallery {
    margin-bottom: 84px;
  }
  .gallery__title {
    top: 41px;
    left: 13px;
    font-size: 14px;
    letter-spacing: -0.42px;
    line-height: 19px;
  }
  .gallery__controls {
    left: 2px;
    bottom: calc(50% - 10px);
    width: 100%;
    width: calc(100% - 2px);
    justify-content: space-between;
    gap: 0px;
  }
  .gallery__control-prev {
    background-image: url(Vector_small.png);
  }
  .gallery__control-next {
    background-image: url(Vector_small.png);
  }

  .galley__slides {
    height: 388px;
  }
  .gallery__image-text {
    bottom: 58px;
    left: 14px;
    max-width: 270px;
    font-size: 19px;
    letter-spacing: -0.57px;
    line-height: 26px;
  }
  .pharos {
    bottom: 85px;
  }
}
