.projects {
  margin-bottom: 146px;
}
.projects__wrapper {
  padding-top: 29px;
}
.projects__item {
  margin-bottom: 90px;
}
.project__item-image {
  height: 450px;
}
.projects__image {
  width: 100%;
 height: 100%;
object-fit: cover;
}
.project-subtitle {
  margin-top: 12px;
  margin-bottom: 15px;
  line-height: 42px;
}
.projects__link {
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.6px;
  text-decoration: none;
  color: #ad1818;
}
.project-btn {
  color: #ad1818;
}
.project-btn:hover {
  background-color: #ad1818;
  color: #fff;
}

@media (max-width: 1199px) {
  .projects {
    margin-bottom: 97px;
  }
  .projects__wrapper {
    padding-top: 32px;
  }
  .projects__item {
    margin-bottom: 80px;
  }
  .project__item-image {
    height: 250px;
  }
  .projects__item:last-child {
    margin-bottom: 100px;
  }
 
  .project-subtitle {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 25px;
    letter-spacing: -0.75px;
    line-height: 34px;
  }
}
@media (max-width: 767px) {
  .projects {
    margin-bottom: 80px;
  }
  .projects__wrapper {
    padding-top: 20px;
  }
  .projects__image {
    height: 250px;
     }
  .projects__item {
    margin-bottom: 49px;
  }
  .projects__item:last-child {
    margin-bottom: 60px;
  }
  .projects__img {
    margin-bottom: 20px;
  }
  .project-subtitle {
    margin-bottom: 9px;
    font-size: 18px;
    letter-spacing: -0.54px;
    line-height: 30px;
  }
  .projects__link {
    font-size: 16px;
    letter-spacing: -0.48x;
    line-height: 22px;
  }
  .project-btn {
    padding-top: 35px;
    padding-bottom: 33px;
    font-size: 22px;
    letter-spacing: -0.66px;
    line-height: 30px;
  }
}
