.reviews {
  margin: 147px 0 151px 0;
}

.reviews__row {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 85px;
}
.reviews__col {
  width: calc(50% - 4px);
  padding-right: 52px;
}
.reviews__col_big {
  width: 77%;
}
.reviews__content {
  width: 100%;
}
.reviews__content-title {
  margin-bottom: 14px;
  font-size: 45px;
  letter-spacing: -1.35px;
  line-height: 58px;
}
.reviews__content-text {
  font-size: 22px;
  letter-spacing: -0.66px;
  line-height: 30px;
}
@media (max-width: 1199px) {
  .reviews {
    margin: 119px 0 120px 0;
  }

  .reviews__row {
    margin-top: 30px;
    row-gap: 78px;
  }
  .reviews__col {
    width: calc(50% - 4px);
    padding-right: 0;
  }
  .reviews__col_big {
    width: 694px;
  }
  .reviews__content-title {
    margin-bottom: 25px;
    font-size: 35px;
    letter-spacing: -1.05px;
    line-height: 48px;
  }
  .reviews__content-text {
    font-size: 20px;
    letter-spacing: -0.6px;
    line-height: 27px;
  }
}
@media (max-width: 767px) {
  .reviews {
    margin-bottom: 100px;
    margin-top: 80px;
  }
  .reviews__row {
    flex-direction: column;
    margin-top: 23px;
    row-gap: 75px;
  }
  .reviews__col {
    width: 100%;
  }
  .reviews__content-title {
    margin-bottom: 10px;
    width: 260px;
    font-size: 25px;
    letter-spacing: -0.9px;
    line-height: 34px;
  }
  .reviews__content-text {
    font-size: 16px;
    line-height: 22px;
  }
}
