
.services {
  padding: 151px 0 148px 0 ;
  background: #121212;
}

.services__item-wrapper {
  margin-bottom: 104px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 80px;
 
}
.white {
  margin-bottom: 29px;
  color: #fff;
}
.services__item {
  width: calc(50% - 5.5px);
  
}
.services__item-box {
  margin-bottom: 25px;
  width: 100%;
  height: 388px;
  position: relative;
  }
.services__item-image {
  object-fit: cover;
  height: 100%; 
  width: 100%;
}

.services__item-price {
  display: inline-block;
  padding: 5px 22px 5px 20px;
 position: absolute;
 top: 32px;left: 30px;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.66px;
  background-color: #ad1818;
  border-radius: 5px;
  color: #fff;
}
.services__item-title {
  padding-left: 4px;
  color: #fff;
  text-transform: none;
}
.services__btn {
  background-color: #ad1818;
  color: #fff;
  cursor: pointer;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}

.popup_open {
  opacity: 1;
  visibility: visible;
}
.popup__content {
  position: relative;
  width: 777px;
  max-height: 100%;
  padding: 94px 74px 86px 55px;
  overflow-y: auto;
   background-color: #fff;
  border-radius: 10px;
}
.popup__close-btn {
 position: absolute;
 top: 32px;
 right: 34px;
  width: 50px;
  height: 50px;
  padding-block: 0px;
  padding-inline: 0px;
  border: none;
  background-size: cover;
  background-image: url(кнопка_закрыть.png);
  cursor: pointer;
}
.popup__wrapper {
  margin-bottom: 54px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.popup__title {
  /* padding-left: 10px; */
  font-size: 45px;
  letter-spacing: -1.35px;
  line-height: 61px;
  text-align: center;
}

.popup__subtitle {
    font-size: 18px;
  letter-spacing: -0.82px;
  line-height: 25px;
  text-align: center;
}
.popup__btn-form {
  margin-top: 30px;
  display: inline-block;
  width: 100%;
  padding: 20px;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.6px;
  text-align: center;
  color: #fff;
  background: #ad1818;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}
.order__input {
  margin-bottom: 45px;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 50px;
  padding-block: 0px;
  font-size: 25px;
  letter-spacing: -0.75px;
  line-height: 34px;
  color: black;
  border: none;
  border-bottom: 2px solid black;
}
.input:focus {
  outline: none;
}
.input::placeholder {
  color: gray;
}

@media (max-width: 961px) {
  .services {
   padding-bottom: 118px;
  }
  .white {
margin-bottom: 31px;
  }
  .services__item-wrapper {
    margin-bottom: 74px;
  }
  .services__item {
    width: calc(50% - 4px);
  }
  .services__item-box {
    margin-bottom: 17px;
    height: 315px;
    
  }
  .services__item-title {
    font-size: 25px;
    letter-spacing: -0.75px;
    line-height: 34px;
  }
  .price-wrapper {
    padding-top: 31px;
    padding-left: 32px;
  }
  .services__item-price {
    padding: 7px 26px 3px 27px;
    font-size: 20px;
    letter-spacing: -0.6px;
  }
  .popup__close-btn {
    right: 34px;
  }
 
}

@media (max-width: 541px) {
  .services {
     padding: 81px 0 80px 0;
  }
  .white {
   margin-bottom: 20px;
  }
  .services__item-wrapper {
    row-gap: 59px;
    margin-bottom: 57px;
  }
  .services__item {
    width: 100%;
  }
  .services__item-box {
    margin-bottom: 10px;
    height: 240px;
   }
  .services__item-price {
   top: 22px;
   left: 26px;
   padding: 6px 24px;
    font-size: 14px;
    letter-spacing: -0.42px;
    line-height: 19px;
  }
  .services__item-title {
    font-size: 18px;
    letter-spacing: -0.54px;
    line-height: 25px;
  }
 
  .popup__content {
    width: 100%;
    padding: 80px 16px 80px 16px;
  }
  .popup__inner {
    
  }
  .popup__title {
    font-size: 25px;
    letter-spacing: -1px;
    line-height: 34px;
  }
  .popup__wrapper {
    gap: 11px;
    margin-bottom: 50px;
   
  }
  .popup__subtitle {
    font-size: 14px;
    letter-spacing: -0.42px;
    line-height: 19px;
    text-align: center;
  }
  .popup__close-btn {
   top: 40px;
   right: 29px;
    width: 30px;
    height: 30px;
  }
  .order__input {
    margin-bottom: 27px;
    height: 45px;
    font-size: 18px;
    letter-spacing: -0.54px;
    line-height: 25px;
  }
  .popup__btn-form {
    margin-top: 35px;
  }
}
